#header
  %h1
    Articles
  %ul.nav.nav-pills
    %li
      %a.btn.btn-primary{:href => "/articles/new"} Create article

.container
  .row.articles
    -for a in @articles do
      %article.well.col-lg-12.article{:id => "article#{a.id}"}
        %h3= a.title
        .date
          = a.created_at.strftime("%d %b %Y %H:%M")
        %p
          Comments:
          = a.comments.count
        .actions
          %a.btn.btn-default{:href => "/admin/articles/#{a.id}"} Show
          %a.btn.btn-default{:href => "/admin/articles/#{a.id}/edit"} Edit
          %form.remove.inline(action="/admin/articles/#{a.id}/destroy" method="post")
            %input.btn.btn-default{:value => "Delete", :type => "submit" }