%h1.page-header
  Articles
.articles
  -@articles.each_with_index do |a, key|
    %article{:id => "article#{a.id}"}
      %h3
        %a{:href => "/articles/#{a.id}"} #{a.title}
      .date
        = a.created_at.strftime("%d %b %Y %H:%M")
      %p
        Comments:
        = a.comments.count